* {
    box-sizing: border-box;
}

h1 {
  color: #003152;
  background-color: #4C516D;
  border-bottom: #003152 solid .25em;
  padding: .5em;
  text-decoration: underline;
  font-size: 3em;
  font-weight: bold;
  text-shadow: 0 0 .025em #dce7f3;;
}
