* {
    box-sizing: border-box;
}

.historySummaries {
    background-color: #dce7f3;
    border: #003152 solid .05em;
    border-radius: .5em;
    padding: 1em;
}

.summaryItems {
    padding: .25em;
}
